.games-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 205px;
}

.game-card:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: translate3d(0, -2px, 0);
}

.game-card:focus {
  outline: none;
}

.center-content {
  display: flex;
  justify-content: center;
}

.game-details {
  display: flex;
  flex-direction: column;
  margin: 0;
}
